body {
    background: white;
    color: #460101; /* crude */
    font-family: verdana, sans-serif;
    font-size: small;
    margin: 0 0 0 0;
}

#heading {
    color: #DBF0B6; /* etiquette poor */
    background-color: #4E1100; /* ugmo */
    margin: 0 auto;
    width: 60em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0em;
}

h1 {
    margin: 0px;
    font-family: georgia, serif;
    font-variant: small-caps;
    font-size: 400%;
}

h1>a:link, h1>a:visited {
    color: #DBF0B6; /* etiquette poor */
    border: 0px;
}

h2 {
    font-family: georgia, serif;
    margin-top: 0;
    padding-left: 1.5em;
    color: #E7F4D7; /* uncouth */
}

h3.date {
    color: #460101; /* crude */
    border-bottom: dashed 1px #460101;
    font-family: georgia, serif;
    font-size: large;
    margin-top: 0;
}

#body {
    width: 60em;
    margin: 0 auto;
}

#content {
    width: 42em;
    padding-right: 1em;
    float: left;
    border-right: 1px dashed;
}

#precontent {
    text-align: center;
}

#sidebar {
    float: right;
    width: 16em;
}

#footer {
    overflow: auto;
}

.entry {
    border-left: 5px solid #E7F4D7; /* uncouth */
    padding-bottom: 5px;
    padding-right: 5px;
    margin-bottom: 1em;
    margin-left: 10px;
    padding-left: 5px;
}

.flickrentry, .postentry {
    background: #E7F4D7; /* uncouth */
}

.selectedentry {
    border-left: 5px solid #CC4F06; /* brash */
    border-top: 2px solid #CC4F06; /* brash */
}

.twitter {
    font-size: smaller;
}

.entry:hover {
    border-left: 5px solid #DBF0B6; /* etiquette poor */
}

h4 {
    font-family: georgia, serif;
    font-size: larger;
    font-weight: bold;
    margin-bottom: 0.3em;
    margin-top: 0;
}

.linkthumbnail {
    float: right;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px solid;
    background: white;
    padding: 3px;
}

.flickrphoto {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px solid;
    background: white;
    padding: 3px;
}

.postinfo {
    clear:both;
    margin-top: 6px;
    font-style: italic;
    font-family: georgia, serif;
    font-size: 90%;
}

a:link, a:visited {
    color: #CC4F06; /* brash */
    border-bottom: 1px solid;
    text-decoration: none;
}
a:active, a:hover {
    text-decoration: underline;
}

.permalink {
    clear:both;
    float: right;
    font-size: x-small;
}

.permalink>a {
    border-bottom: 0px;
}

.entry>ol>li {
    margin-bottom: 1.5em;
}

/* Stuff for the sidebar */

.sidebartitle {
    background-color: #DBF0B6; /* etiquette poor */
    padding: 0.2em;
    font-variant: small-caps;
    font-family: georgia, serif;
}

.sidebarcontent {
    border-left: 5px solid #E7F4D7; /* uncouth */
    padding-left: 1em;
    font-size: x-small;
    margin-bottom: 3em;
}

.sidebarcontent>ul>li {
    margin-left: -30px;
}

.twitterdate {
    font-style: italic;
}

.searchinput {
    font-size: x-small;
    width: 12em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.searchbutton {
    font-size: x-small;
    width: 5em;
}

/* Comments */

.comment_odd, .comment_even, .commentform {
    padding-bottom: 5px;
    padding-right: 5px;
    margin-bottom: 1em;
    margin-left: 10px;
    padding-left: 5px;
}

.comment_odd {
    border-left: 5px solid #E7F4D7; /* uncouth */
}
.comment_even {
    border-left: 5px solid #DBF0B6; /* etiquette poor */
}
.commentform {
    border-left: 5px solid #4E1100; /* ugmo */
}
.commentinfo {
    clear:both;
    font-style: italic;
    font-family: georgia, serif;
    font-size: 90%;
}
.commentform>form>p>label {
    font-size: smaller;
}
.commentinput, .commenttextarea {
    font-family: "Andale Mono", Monaco, 'Courier New', Courier, monospace;
}
.commenttextarea {
    font-size: smaller;
}

