{% load i18n %}
{% if display_form %}
<div class="commentform">
<form action="/comments/postfree/" method="post">

<p><label for="id_person_name">Your name</label><br/>
<input class="commentinput" type="text" id="id_person_name" name="person_name" /></p>

<p><label for="id_person_email">Your email</label><br/>
<input class="commentinput" type="text" id="id_person_email" name="person_email" /></p>

<p><label for="id_person_url">Your homepage (optional)</label><br/>
<input class="commentinput" type="text" id="id_person_url" name="person_url" /></p>

<p><label for="id_comment">Comment (No HTML allowed.  Links will be automatically converted.)</label><br />
<textarea class="commenttextarea" name="comment" id="id_comment" rows="10" cols="60"></textarea>
</p>

<p>
<input type="hidden" name="options" value="{{ options }}" />
<input type="hidden" name="target" value="{{ target }}" />
<input type="hidden" name="gonzo" value="{{ hash }}" />
<input type="submit" name="preview" value="Preview comment" />
</p>

</form>
</div>
{% endif %}
