<div class="sidebartitle">About This Site</div>
<div class="sidebarcontent vcard">
<p>
<img style="float: right;" src="http://static.groovymother.com/images/avatar80.png" class="photo" width="80" height="75" alt="My Avatar" />
I'm <b><span class="fn">Rod <span class="surname">Begbie</span></span></b> -- A 31-year-old Scottish geek who lives in <span class="adr"><span class="locality">Somerville</span>, <span class="region">MA</span></span>.</p>

<ul>
    <li><a href="/about/">About Rod</a></li>
    <li><a href="/about/contact/">Contact Rod</a></li>
    <li><a href="/about/oaq/">Occasionally Asked Questions</a></li>
</ul>
</div>
