body {
    background: #434D53; /* dead fish */
    font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2",serif;
    font-size: 100%;
    margin: 0 0 0 0;
}

#heading {
    color: #0E8D94; /* blue fish */
    background-color: #959595; /* dying fish */
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-top: 1em;
}

#blogname {
    position: relative;
}

h1, #xxxx {
    font-family: "click-clack-1", "click-clack-2", serif;
    font-variantx: small-caps;
    font-size: 500%;
    font-weight: 200;
}

#xxxx {
    font-weight: 400;
}

h1 {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0px;
}

h1>a:link, h1>a:visited {
    color: #0E8D94; /* blue fish */
    border: 0px;
}

#preamble {
    font-family: "click-clack-1", "click-clack-2", serif;
    padding-left: 1.5em;
    font-variantx: small-caps;
    font-weight: 200;
    font-size: 200%;
    margin-bottom: 0;
}

h2 {
    color: #FFAB07; /* orange fish */
    border-bottom: dashed 1px #FFAB07; /* orange fish */
    font-family: "fenwick-1","fenwick-2",sans-serif;
    font-size: 200%;
    font-weight: bold;
}

h3.date {
    color: #FFAB07; /* orange fish */
    border-bottom: dashed 1px #FFAB07; /* orange fish */
    font-family: "fenwick-1","fenwick-2",sans-serif;
    font-weight: bold;
    font-size: x-large;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 0;
}

h3>a:link, h3>a:visited {
    border: 0px;
}

#mainbody {
    width: 60em;
    margin: 0 auto;
    xbackground: white;
}

#content {
    color: #E9D558; /* yellow fish */
}

#precontent {
    text-align: center;
}

#sidebar {
    width: 60em;
}

#footer {
    overflow: auto;
}

.entry {
    margin-left: 5em;
    width: 50em;
    border-left: 5px solid #E9D558; /* yellow fish */
    padding-bottom: 5px;
    padding-right: 5px;
    margin-bottom: 2em;
    xmargin-left: 10px;
    padding-left: 5px;
}

.postentry {
    bxackground: #E7F4D7; /* uncouth */
}

.flickrentry {
    baxckground: #E7CBCA; /* weddingpink */
}

.linkentry {
    bxackground: #F2F8E8; /* frothy */
}

.amazonentry {
    bxackground: #E2DEB0; /* bacteria */
}

.selectedentry {
    border-left: 5px solid #CC4F06; /* brash */
    border-top: 2px solid #CC4F06; /* brash */
}

.twitter {
    xbackground: #F2F8F8; /* frothy */
}

.twitterdate {
    font-style: italic;
}

.entry:hover {
    border-left: 5px solid #FFAB07; /* orange fish */
}

h4 {
    font-family: "fenwick-1","fenwick-2",sans-serif;
    font-size: 150%;
    font-weight: 200;
    margin-bottom: 0.3em;
    margin-top: 0;
    color: #FFAB07; /* orange fish */
}

.linkthumbnail, .flickrphoto {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px solid;
    background: white;
    padding: 3px;
}

.postinfo {
    clear:both;
    margin-top: 6px;
    font-style: italic;
    font-family: "fenwick-1","fenwick-2",sans-serif;
    font-size: 90%;
    font-weight: 200;
}

a:link, a:visited {
    color: #72AD75; /* green fish */
    border-bottom: 1px solid;
    text-decoration: none;
}
a:active, a:hover {
    text-decoration: underline;
}

.permalink {
    clear:both;
    float: right;
    font-size: x-small;
}

.permalink>a {
    border-bottom: 0px;
}

.entry>ol>li {
    margin-bottom: 1.5em;
}

/* Stuff for the sidebar */

.sidebar_section {
    width: 19em;
    float: left;
    padding: 0.5em;
}

.sidebartitle {
    background-color: #FFAB07; /* orange fish */
    padding: 0.2em;
    font-variantx: small-caps;
    size: 140%;
    font-family: "fenwick-1","fenwick-2",sans-serif;
}

.sidebarcontent {
    color: #E9D558; /* yellow fish */
    border-left: 5px solid #FFAB07; /* orange fish */
    padding-left: 1em;
    margin-bottom: 3em;
}

.sidebarcontent>ul>li {
    margin-left: -30px;
}

.searchinput {
    font-size: small;
    width: 12em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.searchbutton {
    font-size: small;
    width: 5em;
}

/* Comments */

.comment_odd, .comment_even, .commentform {
    padding-bottom: 5px;
    padding-right: 5px;
    margin-bottom: 1em;
    margin-left: 10px;
    padding-left: 5px;
}

.comment_odd {
    border-left: 5px solid #E7F4D7; /* uncouth */
}
.comment_even {
    border-left: 5px solid #E9D558; /* yellow fish */
}
.commentform {
    border-left: 5px solid #4E1100; /* ugmo */
}
.commentinfo {
    clear:both;
    font-style: italic;
    font-family: "fenwick-1","fenwick-2",sans-serif;
    font-size: 90%;
}
.commentform>form>p>label {
    vertical-align: top;;
}
.commentinput, .commenttextarea {
    font-family: "Andale Mono", "Menlo", Monaco, 'Courier New', Courier, monospace;
}
.commenttextarea {
    font-size: smaller;
}

