{% load comparison %}
{% extends "blog/base.html" %}

{% block title %}Entries for {{ month|date:"F Y" }}{% endblock %}
{% block title2 %}Entries for {{ month|date:"F Y" }}{% endblock %}

{% block precontent %}
{% if_greater object_list.0.age 60 %}
    {% include "blog/sidebar/adsenseleaderboard.html" %}
{% endif_greater %}
{% endblock %}


{% block content %}
{% for object in object_list %}
    {% include "blog/blogitem.html" %}
{% endfor %}
{% endblock %}

{% block sidebar %}
{% include "blog/sidebar/about.html" %}
{% include "blog/sidebar/adsense.html" %}
{% include "blog/sidebar/searchbox.html" %}
{% include "blog/sidebar/poweredby.html" %}
{% endblock %}

