{% extends "blog/base.html" %}

{% block head %}
    <meta name="ICBM" content="42.385491,-71.099938"/>
    <meta name="DC.title" content="Groovy Mother..."/>
    <meta name="dc.creator.e-mail" content="rod@begbie.com"/>
    <meta name="dc.creator.name" content="Rod Begbie"/>
    <meta name="geo.position" content="42.385696;-71.099928"/>
    <meta name="geo.region" content="US-MA"/>
    <meta name="geo.placename" content="Somerville, Massachusetts"/>
    <link rel="pgpkey" type="application/pgp-keys" href="http://begbie.com/pgp-key.asc" />
    <link rel="openid.server" href="https://pip.verisignlabs.com/server" />
    <link rel="openid.delegate" href="http://rodbegbie.pip.verisignlabs.com/" />
{% endblock %}

{% block content %}
{% for object in latest %}
    {% include "blog/blogitem.html" %}
{% endfor %}
{% endblock %}

