{% load smartypants %}
{% load comments.comments %}
{% ifchanged %}
<h3 class="date">{{ object.created_on|date:"F j, Y" }}</h3>
{% endifchanged %}

{% ifequal object.content_type.model "link" %}
    <div class="linkentry xfolkentry entry" id="{{object.content_object.slug}}" >
        {% if object.legacy %}
        <a name="{{object.legacy.mt_id|stringformat:"06d"}}"></a>
        {% endif %}
        {% if object.content_object.has_thumbnail %}
            <a href="{{object.content_object.url|fix_ampersands}}"><img class="flickrphoto" alt="" src="http://static.groovymother.com/thumbnails/{{object.content_object.id}}.png" height="100" width="133" /></a>
        {% endif %}
        <h4><a class="taggedlink linklink" href="{{ object.content_object.url|fix_ampersands }}">{{object.content_object.title|smartypants}}</a></h4>
        <div class="description linkdescription">
            {{object.content_object.description|smartypants}}
        </div>
        <div class="permalink">
            {% if object.content_object.via %}
                <a href="{{ object.content_object.via|fix_ampersands }}" title="I found this link at...">via</a> |
            {% endif %}
            <a href="{{object.content_object.get_absolute_url}}" title="Permanent link to this entry">#</a>
        </div>
        <div class="postinfo">
            {% if object.content_object.tags %}
                Filed under 
                {% for tag in object.tags.all %}
                    : <a rel="tag" class="tag" href="{{tag.get_absolute_url}}">{{tag.display}}</a>
                {% endfor %}
            {% endif %}
        </div>
    </div>


{% else %}{% ifequal object.content_type.model "post" %}
    {% get_free_comment_count for blog.blogitem object.id as comment_count %}
    <div class="flickrentry entry">
        {% if object.legacy %}
        <a name="{{object.legacy.mt_id|stringformat:"06d"}}"></a>
        {% endif %}
        <h4>{{object.content_object.title|smartypants}}</h4>
        {{object.content_object.body_xhtml}}
        <div class="permalink">
            <a href="{{object.content_object.get_absolute_url}}#comments">{{comment_count}} comment{{comment_count|pluralize}}</a> |
            <a href="{{object.content_object.get_absolute_url}}" title="Permanent link to this entry">#</a>
        </div>
        <div class="postinfo">
            {% if object.content_object.tags %}
                Filed under 
                {% for tag in object.tags.all %}
                    : <a rel="tag" class="tag" href="{{tag.get_absolute_url}}">{{tag.display}}</a>
                {% endfor %}
                <br/>
            {% endif %}
        </div>
    </div>

{% else %}{% ifequal object.content_type.model "flickrphoto" %}
    <div class="flickrentry entry">
        <a href="{{object.content_object.get_absolute_url}}"><img class="flickrphoto" alt="{{object.content_object.title|smartypants}}" src="{{object.content_object.image_url}}" height="{{object.content_object.image_height}}" width="{{object.content_object.image_width}}" /></a>
        <h4>{{object.content_object.title|smartypants}}</h4>
        <div class="postbody">
            {{object.content_object.description|linebreaks}}
        </div>
        <div class="permalink">
            <a href="{{object.content_object.get_absolute_url}}" title="Permanent link to this entry">#</a>
        </div>
        <div class="postinfo">
            {% if object.content_object.tags %}
                Filed under 
                {% for tag in object.tags.all %}
                    : <a rel="tag" class="tag" href="{{tag.get_absolute_url}}">{{tag.display}}</a>
                {% endfor %}
            {% endif %}
        </div>
    </div>


{% else %}{% ifequal object.content_type.model "amazoncd" %}
    <div class="amazonentry entry">
        <a href="{{object.content_object.get_absolute_url}}"><img class="flickrphoto" alt="{{object.content_object.title|smartypants}}" src="{{object.content_object.image_url}}" width="75" height="75" /></a>
        <h4>CD Purchase: {{object.content_object.artist|smartypants}} - {{object.content_object.title|smartypants}}</h4>
        <div class="postbody">
            {{object.content_object.comments|linebreaks}}
        </div>
        <div class="permalink">
            <a href="{{object.content_object.get_absolute_url}}" title="Permanent link to this entry">#</a>
        </div>
        <div class="postinfo">
        </div>
    </div>


{% else %}{% ifequal object.content_type.model "twitter" %}
    <div class="twitter entry">
        <div class="twitterdescription">
            {{object.content_object.description|smartypants}}
        </div>
        <div class="permalink">
            <a href="{{object.content_object.get_absolute_url}}" title="Permanent link to this entry">#</a>
        </div>
        <div class="postinfo">
            Posted to Twitter at {{ object.created_on|date:"P" }}
        </div>
    </div>

{% else %}{% ifequal object.content_type.model "lastfmtrack" %}
    <div class="lastfmtrack entry">
        <div class="postbody">
           {{object.content_object.artist|smartypants}} - {{object.content_object.title|smartypants}}
        </div>
        <div class="permalink">
            <a href="{{object.content_object.get_absolute_url}}" title="Permanent link to this entry">#</a>
        </div>
        <div class="postinfo">
            Listened to at {{ object.created_on|date:"P" }}
        </div>
    </div>

{% else %}{% ifequal object.content_type.model "yelpreview" %}
    <div class="twitter entry">
        <div class="twitterdescription">
            {{object.content_object.description|smartypants}}
        </div>
        <div class="permalink">
            <a href="{{object.content_object.get_absolute_url}}" title="Permanent link to this entry">#</a>
        </div>
        <div class="postinfo">
            Posted to Twitter at {{ object.created_on|date:"P" }}
        </div>
    </div>
{% else %}
    <h1>UNKNOWN CONTENT TYPE {{object.content_type}}</h1>
{% endifequal %}
{% endifequal %}
{% endifequal %}
{% endifequal %}
{% endifequal %}
{% endifequal %}
{% endifequal %}
