{% extends "blog/base.html" %}

{% block head %}
    <meta name="ICBM" content="42.385491,-71.099938"/>
    <meta name="DC.title" content="Groovy Mother..."/>
    <meta name="dc.creator.e-mail" content="rod@begbie.com"/>
    <meta name="dc.creator.name" content="Rod Begbie"/>
    <meta name="geo.position" content="42.385696;-71.099928"/>
    <meta name="geo.region" content="US-MA"/>
    <meta name="geo.placename" content="Somerville, Massachusetts"/>
    <link rel="pgpkey" type="application/pgp-keys" href="http://begbie.com/pgp-key.asc" />
    <meta http-equiv="X-XRDS-Location" content="http://static.groovymother.com/yadis.xrdf" />
    <link rel="openid.server" href="http://www.myopenid.com/server" />
    <link rel="openid.delegate" href="http://rodbegbie.myopenid.com/" />
    <link rel="pavatar" href="http://arsecandle.org/~rod/avatar80.png" />
{% endblock %}

{% block content %}
{% for object in latest %}
    {% include "blog/blogitem.html" %}
{% endfor %}
{% endblock %}

{% block sidebar %}
<div class="sidebartitle">About This Site</div>
<div class="sidebarcontent vcard">
<p>
<img style="float: right;" src="http://static.groovymother.com/images/avatar80.png" class="photo" width="80" height="75" alt="My Avatar" />
I'm <b><span class="fn">Rod <span class="surname">Begbie</span></span></b> -- A 30-year-old Scottish geek who lives in <span class="adr"><span class="locality">Somerville</span>, <span class="region">MA</span></span>.  By day, I work on smart music systems for a company whose name Rhymes With Nose.  By night, I'm asleep.</p>
<ul>
    <li>Email: <a class="email" href="mailto:rod@arsecandle.org" title="email">rod@arsecandle.org</a></li>
    <li>Google Talk/Jabber: <a class="url" href="xmpp:rod@arsecandle.org">rod@arsecandle.org</a></li>
    <li>GPG Key: <a href="http://www.begbie.com/pgp-key.asc">9054 90AD 8340 C9B4 F536 66CE 37F6 1D5C 8C80 C35F</a></li>
</ul>
</div>


<div class="sidebartitle"><img style="float: right;" src="http://static.groovymother.com/design/feed-icon-14x14.png" height="14" width="14" alt="" />Subscribe</div>
<div class="sidebarcontent">
<ul>
    <li><a href="/index.atom">Main feed</a></li>
    <li><a href="/links/index.atom">Link-only feed</a></li>
</ul>
</div>

{% include "blog/sidebar/searchbox.html" %}

{% include "blog/sidebar/twitters.html" %}

{% include "blog/sidebar/lastfmtracks.html" %}

{% include "blog/sidebar/license.html" %}

{% include "blog/sidebar/poweredby.html" %}

{% endblock %}
