{% extends "blog/base.html" %}

{% block title %}Search results: '{{q}}'{% endblock %}
{% block title2 %}Search results: '{{q}}'{% endblock %}

{% block content %}
{% for object in object_list %}
    {% include "blog/blogitem.html" %}
{% endfor %}
{% endblock %}

{% block sidebar %}
{% if is_paginated %}
<div class="sidebartitle">Navigation</div>
<div class="sidebarcontent">
    <p>Page {{page}} of {{pages}}</p>
    <p>
    {% if has_previous %}<a href="./?q={{q}}&page={{previous}}">Previous page</a>{% endif %}
    {% if has_next %}{% if has_previous %}|{% endif %}{% endif %}
    {% if has_next %}<a href="./?q={{q}}&page={{next}}">Next page</a>{% endif %}
</div>
{% endif %}

{% include "blog/sidebar/searchbox.html" %}
{% include "blog/sidebar/poweredby.html" %}

{% endblock %}
