<div class="sidebartitle">About This Site</div>
<div class="sidebarcontent vcard">
<p>
<img style="float: right;" src="http://static.groovymother.com/design/avatar80.png" class="photo" width="80" height="80" alt="My Avatar" />
I'm <b><span class="fn">Rod <span class="surname">Begbie</span></span></b> -- A 34-year-old Scottish geek who lives in <span class="adr"><span 
class="locality">San Francisco</span>, <span class="region">CA</span></span>.</p>

<p>I'm the co-founder of <a href="http://sosh.com/">Sōsh</a>, your handy-dandy guide for <a href="http://sosh.com/">things to do in San Francisco this weekend</a>.</p>

<ul>
    <li><a href="http://begbie.com/about/">About Rod</a></li>
    <li><a href="/about/contact/">Contact Rod</a></li>
    <li><a href="/about/oaq/">Occasionally Asked Questions</a></li>
</ul>

<p><a href="http://fireeagle.yahoo.com/">Fire Eagle</a> thinks I'm currently in <i>{{ location.0.name }}</i>, and have been for around {{location.0.located_at|timesince}}.</p>
</div>
