<!DOCTYPE html 
  PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>&#8220;groovy mother&#8221; :: {% block title %}Rod Begbie's home for the propagation of hypertextual nonsense{% endblock %}</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <link rel="stylesheet" href="http://static.groovymother.com/design/style.css" type="text/css"/>
    <link rel="alternate" type="application/atom+xml" title="GroovyMother Atom Feed" href="http://groovymother.com/index.atom" />
    <link rel="shortcut icon" href="http://static.groovymother.com/design/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="http://static.groovymother.com/design/avatar80.png" type="image/png" />
    <link rel="icon" href="http://static.groovymother.com/design/avatar16.png" type="image/png" />
    <link rel="search" href="http://static.groovymother.com/opensearchdescription.xml" type="application/opensearchdescription+xml" title="groovymother.com" />
    <script type="text/javascript" src="http://use.typekit.com/oar7yon.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script type="text/javascript" src="http://static.groovymother.com/design/jquery-latest.js"></script>
    <script type="text/javascript" src="http://static.groovymother.com/design/threequarters.js"></script>
{% block head %}{% endblock %}

</head>
<body>
<div id="heading">
{% block heading %}
<div id="preamble">This is {% block pagetype %}{% endblock %} the blog of Rod Begbie, who is one…</div>
<div id="blogname">
    <div id="xxxx">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;XXXX</div>
    <h1><a href="/">&#8220;Groovy Motherfucker&#8221;</a></h1>
</div>
{% endblock %}
</div>

<div id="mainbody">
<div id="precontent">
{% block precontent %}
{% endblock %}
</div>

<div id="content">
    <h2>{% block title2 %}{% endblock %}</h2>
{% block content %}
    Hello world!
{% endblock %}
</div>

<div id="postcontent">
{% block postcontent %}
{% endblock %}
</div>

<div id="sidebar">

    <div id="sidebar_l" class="sidebar_section">
{% block sidebar_l %}
{% include "blog/sidebar/about.html" %}
{% endblock %}
    </div>
    <div id="sidebar_m" class="sidebar_section">
{% block sidebar_m %}
{% include "blog/sidebar/searchbox.html" %}
{% endblock %}
    </div>
    <div id="sidebar_r" class="sidebar_section">
{% block sidebar_r %}
{% include "blog/sidebar/poweredby.html" %}
{% endblock %}
    </div>
</div>

</div>

<!-- Javascripty include cruft goes here... -->

<!-- Mint -->
<script src="http://groovymother.com/mint/?js" type="text/javascript"></script>

<!-- Project Honeypot -->
<div><a href="http://static.groovymother.com/monkeytennis/monkeytennis.php"><span style="display: none;">saute-swinish</span></a></div>

</body>
</html>
