{% extends "blog/base.html" %}
{% load comments %}
{% load smart_if %}

{% block title %}{{object.content_object.title}}{% endblock %}
{% block title2 %}{{object.content_object.title}}{% endblock %}
{% block pagetype %}a post from{% endblock %}

{% block content %}
    {% include "blog/blogitem.html" %}

    {% get_comment_list for blog.blogitem object.id as comment_list %}

    {% if comment_list %}
        <hr>
        <h3 id="comments">Comments</h3>

        {% for comment in comment_list %}
            <div class="comment_{% cycle odd,even %}" id="c{{ comment.id }}">
                <h4>On {{ comment.submit_date|date:"l, F j, Y" }},
                    {% if comment.user_url%}<a href="{{comment.user_url|escape}}">{%endif%}
                    {{ comment.user_name|escape }}{% if comment.user_url%}</a>{%endif%}
                    commented:
                </h4>
                {{ comment.comment|escape|urlizetrunc:40|linebreaks }}
            </div>
        {% endfor %}

    {% endif %}

{% endblock %}

{% block postcontent %}
    {% if object.age > 30 %}
        {% include "blog/sidebar/adsenseleaderboard.html" %}
    {% endif %}
{% endblock %}
