{% extends "blog/base.html" %}
{% load smart_if %}


{% block title %}Entries for week beginning {{ week|date:"F j, Y" }}{% endblock %}
{% block title2 %}Entries for week beginning {{ week|date:"F j, Y" }}{% endblock %}
{% block pagetype %}a week from{% endblock %}

{% block precontent %}
{% if object_list.0.age > 60 %}
    {% include "blog/sidebar/adsenseleaderboard.html" %}
{% endif %}
{% endblock %}

{% block content %}
{% for object in object_list %}
    {% include "blog/blogitem.html" %}
{% endfor %}
{% endblock %}

{% block postcontent %}
{% if object_list.0.age > 30 %}
    {% include "blog/sidebar/adsenseleaderboard.html" %}
{% endif %}
{% endblock %}
