{% extends "blog/base.html" %}

{% block head %}
    <link rel="pgpkey" type="application/pgp-keys" href="http://begbie.com/pgp-key.asc" />
    <meta http-equiv="X-XRDS-Location" content="http://www.myopenid.com/xrds?username=rodbegbie.myopenid.com" />
    <link rel="openid.server" href="http://www.myopenid.com/server"/>
    <link rel="openid.delegate" href="http://rodbegbie.myopenid.com/"/>
    <link rel="openid2.provider" href="http://www.myopenid.com/server"/>
    <link rel="openid2.local_id" href="http://rodbegbie.myopenid.com/"/>
{% endblock %}

{% block content %}
{% for object in latest %}
    {% include "blog/blogitem.html" %}
{% endfor %}
{% endblock %}

{% block sidebar %}

{% include "blog/sidebar/about.html" %}

<div class="sidebartitle"><img style="float: right;" src="http://static.groovymother.com/design/feed-icon-14x14.png" height="14" width="14" alt="" />Subscribe</div>
<div class="sidebarcontent">
<ul>
    <li><a href="/index.atom">Atom feed of posts and links</a></li>
    <li><a href="http://twitter.com/rodbegbie" rel="me">Follow me on Twitter</a></li>
    <li><a href="http://www.flickr.com/photos/groovymother/" rel="me">Photos on Flickr</a></li>
    <li><a href="http://vimeo.com/rodbegbie" rel="me">Videos on Vimeo</a></li>
</ul>
</div>

{% include "blog/sidebar/searchbox.html" %}

{% include "blog/sidebar/license.html" %}

{% include "blog/sidebar/poweredby.html" %}


{% endblock %}
