{% extends "blog/base.html" %}

{% block title %}Search results: '{{q}}'{% endblock %}
{% block title2 %}Search results: '{{q}}'{% endblock %}

{% block content %}
{% if object_list %}
    {% for object in object_list %}
        {% include "blog/blogitem.html" %}
    {% endfor %}
{% else %}
    <p>No results found</p>
{% endif %}
{% endblock %}

{% block sidebar_m %}
{% if is_paginated %}
<div class="sidebartitle">Navigation</div>
<div class="sidebarcontent">
    <p><strong>Page {{page}} of {{pages}}</strong></p>
    <p>
    {% if has_previous %}<a href="./?q={{q}}&amp;page={{previous}}">Previous page</a>{% endif %}
    {% if has_next %}{% if has_previous %}|{% endif %}{% endif %}
    {% if has_next %}<a href="./?q={{q}}&amp;page={{next}}">Next page</a>{% endif %}
    </p>
</div>
{% endif %}

{% include "blog/sidebar/searchbox.html" %}

{% endblock %}
